/* screen - activity-routine */

.activity-routine {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1446px;
  overflow: hidden;
  width: 1920px;
}

.activity-routine .overlap-group {
  height: 535px;
  margin-left: -135px;
  margin-top: -187px;
  position: relative;
  width: 2075px;
}

.activity-routine .rectangle-2829 {
  background-color: var(--white);
  height: 216px;
  left: 135px;
  position: absolute;
  top: 187px;
  width: 1920px;
}

.activity-routine .screenshot_18 {
  background-image: url(../img/screenshot-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 89px;
  left: 245px;
  position: absolute;
  top: 251px;
  width: 254px;
}

.activity-routine .ellipse-259 {
  border-radius: 187px;
  height: 374px;
  left: 656px;
  opacity: 0.18;
  position: absolute;
  top: 0;
  width: 374px;
}

.activity-routine .calorie-tracker {
  left: 1413px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
}

.activity-routine .ellipse-258 {
  border-radius: 187px;
  height: 374px;
  left: 0;
  opacity: 0.18;
  position: absolute;
  top: 71px;
  width: 374px;
}

.activity-routine .rectangle-2830 {
  background-color: var(--white);
  height: 132px;
  left: 135px;
  position: absolute;
  top: 403px;
  width: 1920px;
}

.activity-routine .path-2 {
  cursor: pointer;
  height: 90px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 445px;
  width: 239px;
}

.activity-routine .rectangle-2833 {
  background-color: var(--white);
  border-radius: 21px;
  cursor: pointer;
  height: 90px;
  left: 613px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.activity-routine .rectangle-2834 {
  background-color: var(--white);
  border-radius: 24px;
  cursor: pointer;
  height: 90px;
  left: 852px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.activity-routine .rectangle-2835 {
  background-color: var(--white);
  border-radius: 26px;
  height: 90px;
  left: 1091px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.activity-routine .gender {
  left: 465px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .height {
  left: 706px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .weight {
  left: 943px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .target-weight {
  left: 1155px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .rectangle-2836 {
  background-color: var(--white);
  border-radius: 24px;
  cursor: pointer;
  height: 90px;
  left: 1330px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.activity-routine .activity-routine-1 {
  left: 1388px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .rectangle-2837 {
  background-color: var(--white);
  height: 90px;
  left: 1569px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.activity-routine .medical-conditions {
  left: 1612px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .rectangle-2838 {
  background-color: var(--white);
  height: 90px;
  left: 1808px;
  position: absolute;
  top: 445px;
  width: 247px;
}

.activity-routine .finalising {
  left: 1895px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .rectangle-2839 {
  background-color: var(--white);
  border-radius: 21px;
  cursor: pointer;
  height: 90px;
  left: 135px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.activity-routine .age {
  left: 239px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.activity-routine .overlap-group2 {
  background-image: url(../img/pngegg--21--1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 719px;
  position: relative;
  width: 1920px;
}

.activity-routine .rectangle-2840 {
  height: 449px;
  left: 571px;
  object-fit: cover;
  position: absolute;
  top: 101px;
  width: 744px;
}

.activity-routine .whats-your-activity-routine {
  left: 639px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 168px;
  white-space: nowrap;
}

.activity-routine .component-2-7 {
  background-image: url(../img/path-1-1-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  height: 79px;
  left: 834px;
  position: absolute;
  top: 424px;
  width: 252px;
}

.activity-routine .continue {
  flex: 1;
  height: 59px;
  letter-spacing: 0;
  line-height: 41px;
  margin-left: 31px;
  margin-right: 6px;
  margin-top: 18px;
  white-space: nowrap;
}

.activity-routine .pngegg-27 {
  height: 124px;
  left: 674px;
  object-fit: cover;
  position: absolute;
  top: 251px;
  width: 146px;
}

.activity-routine .pngegg-28 {
  height: 124px;
  left: 880px;
  object-fit: cover;
  position: absolute;
  top: 251px;
  width: 146px;
}

.activity-routine .pngegg-29 {
  height: 124px;
  left: 1086px;
  object-fit: cover;
  position: absolute;
  top: 251px;
  width: 146px;
}

.activity-routine .sedentary {
  left: 708px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 386px;
  white-space: nowrap;
}

.activity-routine .moderately-active {
  left: 888px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 386px;
  white-space: nowrap;
}

.activity-routine .intense-activity {
  left: 1104px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 386px;
  white-space: nowrap;
}

.activity-routine .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/screenshot-24-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 379px;
  min-width: 1920px;
  padding: 69px 295px;
}

.activity-routine .high-quality-digital {
  align-self: flex-end;
  height: 136px;
  letter-spacing: -0.20px;
  line-height: 26px;
  margin-bottom: 7px;
  width: 291px;
}

.activity-routine .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 234px;
  min-height: 233px;
  width: 186px;
}

.activity-routine .products {
  letter-spacing: -0.35px;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.activity-routine .design-systems {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 23px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .themes-templates {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .mockups {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 22px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .presentations {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .wireframes-kits {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 21px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 191px;
  width: 160px;
}

.activity-routine .legals {
  letter-spacing: -0.35px;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.activity-routine .license {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 23px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .refund-policy {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .about-us {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 22px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .contacts {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.activity-routine .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 205px;
  width: 296px;
}

.activity-routine .contacts-1 {
  letter-spacing: -0.35px;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.activity-routine .fell-free-get-in-tou {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-top: 23px;
  min-height: 47px;
  width: 296px;
}

.activity-routine .phone {
  letter-spacing: -0.35px;
  line-height: 14px;
  margin-top: 50px;
  min-height: 21px;
  width: 296px;
}

.activity-routine .deniscraftworkdesi {
  letter-spacing: -0.35px;
  line-height: 14px;
  margin-top: 21px;
  min-height: 21px;
  width: 296px;
}
