/* screen - change-password */

.change-password {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.change-password .overlap-group {
  align-items: flex-start;
  background-image: url(../img/abstract-colorful-low-poly-vector-background-with-warm-gradient--6@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: -14px;
  min-height: 1227px;
  padding: 241px 433px;
  width: 1964px;
}

.change-password .overlap-group1 {
  align-items: flex-start;
  background-color: var(--zeus);
  border-radius: 37px;
  display: flex;
  flex-direction: column;
  min-height: 495px;
  padding: 33.0px 299px;
  width: 1054px;
}

.change-password .enter-your-email {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 6px;
  min-height: 29px;
  white-space: nowrap;
}

.change-password .rectangle-13 {
  background-color: var(--blue-whale);
  border-radius: 22px;
  height: 59px;
  margin-top: 19px;
  width: 453px;
}

.change-password .new-password {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 34px;
  min-height: 29px;
  white-space: nowrap;
}

.change-password .rectangle-14 {
  background-color: var(--blue-whale);
  border-radius: 22px;
  height: 59px;
  margin-top: 8px;
  width: 453px;
}

.change-password .overlap-group2 {
  align-self: center;
  height: 148px;
  margin-left: 1.0px;
  margin-top: 38px;
  position: relative;
  width: 453px;
}

.change-password .rectangle-15 {
  background-color: var(--blue-whale);
  border-radius: 22px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 453px;
}

.change-password .confirm-password {
  left: 4px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.change-password .rectangle-20 {
  background-color: var(--malachite);
  border-radius: 22px;
  cursor: pointer;
  height: 59px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 453px;
}

.change-password .continue {
  left: 178px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 108px;
  white-space: nowrap;
}

.change-password .terms-privacy-security-contact-us {
  align-self: center;
  letter-spacing: 0;
  line-height: 30px;
  margin-right: 22.0px;
  margin-top: 187px;
  min-height: 32px;
  min-width: 498px;
  white-space: nowrap;
}
