/* screen - height */

.height {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1446px;
  overflow: hidden;
  width: 1920px;
}

.height .overlap-group {
  height: 535px;
  margin-left: -135px;
  margin-top: -187px;
  position: relative;
  width: 2075px;
}

.height .rectangle-2829 {
  background-color: var(--white);
  height: 216px;
  left: 135px;
  position: absolute;
  top: 187px;
  width: 1920px;
}

.height .screenshot_18 {
  background-image: url(../img/screenshot-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 89px;
  left: 245px;
  position: absolute;
  top: 251px;
  width: 254px;
}

.height .ellipse-259 {
  border-radius: 187px;
  height: 374px;
  left: 656px;
  opacity: 0.18;
  position: absolute;
  top: 0;
  width: 374px;
}

.height .calorie-tracker {
  left: 1413px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
}

.height .ellipse-258 {
  border-radius: 187px;
  height: 374px;
  left: 0;
  opacity: 0.18;
  position: absolute;
  top: 71px;
  width: 374px;
}

.height .rectangle-2830 {
  background-color: var(--white);
  height: 132px;
  left: 135px;
  position: absolute;
  top: 403px;
  width: 1920px;
}

.height .path-2 {
  cursor: pointer;
  height: 90px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 445px;
  width: 239px;
}

.height .rectangle-2833 {
  background-color: var(--white);
  border: 1px solid var(--crusta);
  border-radius: 21px;
  cursor: pointer;
  height: 90px;
  left: 613px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.height .rectangle-2834 {
  background-color: var(--white);
  height: 90px;
  left: 852px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.height .rectangle-2835 {
  background-color: var(--white);
  height: 90px;
  left: 1091px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.height .gender {
  left: 465px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .height-1 {
  color: var(--crusta);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 706px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .weight {
  left: 943px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .target-weight {
  left: 1155px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .rectangle-2836 {
  background-color: var(--white);
  height: 90px;
  left: 1330px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.height .activity-routine {
  left: 1388px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .rectangle-2837 {
  background-color: var(--white);
  height: 90px;
  left: 1569px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.height .medical-conditions {
  left: 1612px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .rectangle-2838 {
  background-color: var(--white);
  height: 90px;
  left: 1808px;
  position: absolute;
  top: 445px;
  width: 247px;
}

.height .finalising {
  left: 1895px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .rectangle-2839 {
  background-color: var(--white);
  border-radius: 21px;
  cursor: pointer;
  height: 90px;
  left: 135px;
  position: absolute;
  top: 445px;
  width: 239px;
}

.height .age {
  left: 239px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 482px;
  white-space: nowrap;
}

.height .overlap-group2 {
  background-image: url(../img/pngegg--21--1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 719px;
  position: relative;
  width: 1920px;
}

.height .rectangle-2840 {
  height: 449px;
  left: 571px;
  object-fit: cover;
  position: absolute;
  top: 101px;
  width: 744px;
}

.height .enter-your-height {
  left: 734px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 170px;
  white-space: nowrap;
}

.height .component-2-4 {
  background-image: url(../img/path-1-1-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  height: 79px;
  left: 834px;
  position: absolute;
  top: 424px;
  width: 252px;
}

.height .continue {
  flex: 1;
  height: 59px;
  letter-spacing: 0;
  line-height: 41px;
  margin-left: 31px;
  margin-right: 6px;
  margin-top: 18px;
  white-space: nowrap;
}

.height .rectangle-2841 {
  background-color: var(--white);
  border-radius: 19px;
  height: 103px;
  left: 756px;
  opacity: 0.7;
  position: absolute;
  top: 272px;
  width: 187px;
}

.height .rectangle-2843 {
  background-color: var(--white);
  border-radius: 19px;
  height: 103px;
  left: 971px;
  opacity: 0.7;
  position: absolute;
  top: 272px;
  width: 187px;
}

.height .text-4 {
  color: var(--crusta);
  font-family: var(--font-family-poppins);
  font-size: 56px;
  font-weight: 400;
  left: 951px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 254px;
  white-space: nowrap;
}

.height .text-5 {
  color: var(--crusta);
  font-family: var(--font-family-poppins);
  font-size: 56px;
  font-weight: 400;
  left: 1166px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 256px;
  white-space: nowrap;
}

.height .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/screenshot-24-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 379px;
  min-width: 1920px;
  padding: 69px 295px;
}

.height .high-quality-digital {
  align-self: flex-end;
  height: 136px;
  letter-spacing: -0.20px;
  line-height: 26px;
  margin-bottom: 7px;
  width: 291px;
}

.height .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 234px;
  min-height: 233px;
  width: 186px;
}

.height .products {
  letter-spacing: -0.35px;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.height .design-systems {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 23px;
  min-height: 21px;
  white-space: nowrap;
}

.height .themes-templates {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.height .mockups {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 22px;
  min-height: 21px;
  white-space: nowrap;
}

.height .presentations {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.height .wireframes-kits {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 21px;
  min-height: 21px;
  white-space: nowrap;
}

.height .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 191px;
  width: 160px;
}

.height .legals {
  letter-spacing: -0.35px;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.height .license {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 23px;
  min-height: 21px;
  white-space: nowrap;
}

.height .refund-policy {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.height .about-us {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 22px;
  min-height: 21px;
  white-space: nowrap;
}

.height .contacts {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-bottom: -5px;
  margin-top: 20px;
  min-height: 21px;
  white-space: nowrap;
}

.height .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 205px;
  width: 296px;
}

.height .contacts-1 {
  letter-spacing: -0.35px;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.height .fell-free-get-in-tou {
  letter-spacing: -0.18px;
  line-height: 26px;
  margin-top: 23px;
  min-height: 47px;
  width: 296px;
}

.height .phone {
  letter-spacing: -0.35px;
  line-height: 14px;
  margin-top: 50px;
  min-height: 21px;
  width: 296px;
}

.height .deniscraftworkdesi {
  letter-spacing: -0.35px;
  line-height: 14px;
  margin-top: 21px;
  min-height: 21px;
  width: 296px;
}
