/* screen - sign-in */

.sign-in {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.sign-in .overlap-group {
  background-image: url(../img/abstract-colorful-low-poly-vector-background-with-warm-gradient--1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1217px;
  margin-left: -14px;
  margin-top: -137px;
  position: relative;
  width: 1949px;
}

.sign-in .abstract-colorful-lo {
  height: 1217px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1949px;
}

.sign-in .component-5-1 {
  background-image: url(../img/path-1-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 420px;
  left: 646px;
  position: absolute;
  top: 359px;
  width: 656px;
}

.sign-in .mobile-no-or-email-address {
  color: var(--white);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xl);
  font-weight: 600;
  left: 769px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 407px;
  white-space: nowrap;
}

.sign-in .password {
  color: var(--white);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xl);
  font-weight: 600;
  left: 768px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 544px;
  white-space: nowrap;
}

.sign-in .rectangle-4 {
  background-color: var(--blue-whale);
  border-radius: 22px;
  height: 59px;
  left: 768px;
  position: absolute;
  top: 445px;
  width: 412px;
}

.sign-in .rectangle-5 {
  background-color: var(--blue-whale);
  border-radius: 22px;
  height: 59px;
  left: 768px;
  position: absolute;
  top: 582px;
  width: 412px;
}

.sign-in .rectangle-6 {
  background-color: var(--malachite);
  border-radius: 22px;
  cursor: pointer;
  height: 59px;
  left: 768px;
  position: absolute;
  top: 679px;
  width: 412px;
}

.sign-in .component-2-1 {
  cursor: pointer;
  display: flex;
  height: 27px;
  left: 1024px;
  position: absolute;
  top: 542px;
  width: 164px;
}

.sign-in .forgot-password {
  color: var(--shakespeare);
  flex: 1;
  font-family: var(--font-family-segoeui-semibolditalic);
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -2px;
  margin-right: -6px;
  margin-top: 7px;
  white-space: nowrap;
  width: 164px;
}

.sign-in .rectangle-7 {
  background-color: #494a47cf;
  border-radius: 26px;
  height: 110px;
  left: 646px;
  position: absolute;
  top: 854px;
  width: 656px;
}

.sign-in .new-to-swasthya {
  color: var(--desert-storm);
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  left: 763px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 899px;
  white-space: nowrap;
}

.sign-in .sign-in-1 {
  color: var(--white);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 926px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 698px;
  white-space: nowrap;
}

.sign-in .terms-privacy-security-contact-us {
  left: 743px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 1034px;
  white-space: nowrap;
}

.sign-in .component-1-1 {
  cursor: pointer;
  display: flex;
  height: 36px;
  left: 994px;
  position: absolute;
  top: 891px;
  width: 230px;
}

.sign-in .create-an-account {
  color: var(--shakespeare);
  flex: 1;
  font-family: var(--font-family-segoeui-semibold);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  margin-bottom: -1px;
  margin-right: -3px;
  margin-top: 8px;
  white-space: nowrap;
  width: 230px;
}
